a {
  color: #feef34;
}

.podcast-player {
  width: 80%;
}

.episode {
  display: flex;
  flex-direction: column;
}

.episode span {
  width: 80%;
  padding-top: 1rem;
  font-family: 'Open sans', sans-serif;
  font-size: 1.2rem;
  text-align: center;
}

.episode.one {
  margin-top: 1.5rem;
}