html {
  font-size: 16px;
  color: #545863;
}

.yellow {
  color: #feef34;
}
.gray {
  color: #545863;
}
.blue {
  color: #71d7f9;
}

.half_highlight {
  background: linear-gradient(to top, #feef34 50%, transparent 50%);
}

section {
  max-width: 80%;
  margin: 0 auto;
  padding: 2rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid #71d7f9;
}

section img {
  width: 60%;
  padding: 2rem;
}

h1 {
  font-family: "Yeseva One", cursive;
  font-size: 4rem;
}

h3 {
  font-family: 'Open sans', sans-serif;
  font-size: 2rem;
}

button, .button {
  color: #ffffff;
  background-color: gray;
  border: none;
  box-shadow: 4px 4px #feef34;
  font-family: "Open Sans", sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  padding: 0.7rem;
  margin: 0 1.2rem;
}

button:hover,
.button:hover {
  background-color: #feef34;
  color: #000000;
  box-shadow: 4px 4px gray;
  cursor: pointer;
}

button:focus {
  border: 4px solid #71d7f9;
}

a {
  text-decoration: none;
}

/* HEADER */

header {
  display: flex;
  flex-direction: column;
  text-align: center;
}

header h1 {
  color: #545863;
  border-bottom: 2.5rem solid #feef34;
  width: 50%;
  margin: 0 auto;
}

.heading_slide {
  max-width: 90%;
  margin: 0 auto;
}

nav {
  text-align: center;
  margin: 2rem;
}

.tagline h1 {
  color: #545863;
  text-align: center;
}

.formkit-form {
  border: 3px solid #feef34;
  padding: 1rem;
  margin: 0 auto;
  width: 100%;
}

/* TAGLINE SECTION */

.tagline {
  flex-direction: column;
}

/* COHORT SECTION */

.right {
  text-align: center;
  width: 40%;
}



/* SCREENS < 1000px */

@media only screen and (max-width: 1000px) {
  h1 {
    font-size: 3.5rem;
  }

  section {
    width: 100%;
    flex-direction: column;
  }

  section img {
    width: 90%;
  }

  .about {
    flex-direction: column-reverse;
  }

  .right {
    width: 90%;
  }
}